 /* ====== All styless ========= */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     max-width: 1600px;
     margin: 0 auto;
 }


 .font-inter {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;

 }

 /* ====== header area style=================== */
 header nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 16px 0px;
     max-width: 1600px;
 }

 header nav img {
     width: 139px;
 }

 header nav ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 32px;
     list-style-type: none;

 }

 header nav ul a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     color: #000;
 }

 
 header nav ul a:hover{
    color: #30B868;
 }

 header nav .btn {
     border: 1px solid transparent;
     border-radius: 4px;
     padding: 12px 16px;
     background-color: #21874c;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     transition: 0.3s;
     cursor: pointer;

 }

 header nav .btn:hover {

     background-color: transparent;
     border: 1px solid #076f17;
     color: #000000;
     box-shadow: 0px 0px 10px rgba(115, 159, 117, 0.163);
 }




 /* =========== Banner section style  ==================== */
 #banner {
     max-width: 1600px;
     padding: 154px 341px;
     background-image: url(/images/hero-bg.png);
     background-position: center;
     background-size: cover;

 }

 #banner .banner-container {
     max-width: 1360px;
     text-align: center;
 }

 #banner .banner-container .small-heading {
     max-width: 215px;
     background-color: #fff;
     border-radius: 100px;
     padding: 8px 12px;
     text-align: center;
     margin: 24px auto;
     font-size: 14px;
     font-weight: 400;
     color: #30B868;
 }


 #banner .banner-container h1 {
     font-size: 72px;
     font-weight: bold;
     margin-bottom: 16px;
     color: #fff;

 }

 #banner .banner-container h1 #green {
     color: #20864b;
 }


 #banner .banner-container p {
     color: #f9efef;
     font-size: 18px;
     line-height: 24px;
     margin-bottom: 32px;
 }


 #banner .banner-container .btn {
     border: 1px solid transparent;
     border-radius: 4px;
     padding: 12px 16px;
     background-color: #20864b;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     transition: 0.3s;
     cursor: pointer;
     margin-right: 16px;
 }

 #banner .banner-container .btn:hover {
     background-color: transparent;
     border: 1px solid #fff;
     color: #fff;
     box-shadow: 0px 0px 10px rgba(115, 159, 117, 0.463);
 }

 #banner .banner-container button#glass {
     border-radius: 4px;
     padding: 12px 16px;
     background-color: transparent;
     border: 1px solid #fff;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     transition: 0.3s;
     cursor: pointer;
     margin-right: 16px;
 }

 #banner .banner-container #glass:hover {
     background-color: #20864b;
     border: 1px solid transparent;
     box-shadow: 0px 0px 10px rgba(115, 159, 117, 0.463);
 }

 /* ============ Notes area Style ==================== */

 #notes {
     max-width: 1600px;
     padding-top: 153px;
 }

 #notes .notes-content {
     text-align: center;
 }

 #notes .notes-content h2 {
     font-size: 48px;
     font-weight: bold;
     margin-bottom: 16px;
     color: #001931;
 }

 #notes .notes-content p {
     font-size: 16px;
     line-height: 20px;
     color: #627382;
     margin-bottom: 44px;
 }

 #notes .notes-box {
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 24px;
     text-align: center;
     margin: 0 auto;
     max-width: 1360px;
 }

 #notes .notes-box .notes-card {
     padding: 24px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062);
     height: 322px;
 }

 #notes .notes-box .notes-card .notes-card-icon {
     margin: 60px auto 20px;
     width: 60px;
     height: 60px;
     padding: 30px;
     border-radius: 50%;
     background-color: #F95555;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #notes .notes-box .notes-card .notes-card-icon img {
     width: 32px;
 }

 #notes .notes-box .notes-card h3 {
     font-size: 24px;
     font-weight: 600;
     margin-bottom: 16px;
 }

 #notes .notes-box .notes-card p {
     font-size: 16px;
     line-height: 20px;
     color: #627382;
 }



 /* =========== Brain style =============== */
 #brain {
     max-width: 1360px;
     display: flex;
     align-items: center;
     gap: 60px;
     /* padding: 120px; */
     margin: 120px;
 }

 #brain .brain-img img {
     width: 600px;
 }

 #brain .brain-content h6 {
     font-size: 16px;
     font-weight: 800;
     color: #30B868;
     text-transform: uppercase;
     margin-bottom: 16px;
 }

 #brain .brain-content h1 {
     font-size: 48px;
     font-weight: bold;
     margin-bottom: 16px;
     color: #001931;
 }

 #brain .brain-content p {
     font-size: 16px;
     line-height: 20px;
     color: #627382;
     margin-bottom: 16px;
 }

 #brain .brain-content ul {
     list-style-type: none;
     line-height: 30px;
 }

 #brain .brain-content ul li img {
     vertical-align: middle;
     width: 20px;
 }


 /* ======= early s=area ================== */
 #early .early-container {
     max-width: 1360px;
     margin: 0px 120px 120px;
     text-align: center;
     background-color: #F7F6F2;
     padding: 80px 40px;
     border-radius: 10px;
 }

 #early .early-container h1 {
     font-size: 40x;
     font-weight: bold;
     margin-bottom: 16px;
     color: #001931;
 }

 #early .early-container P {
     font-size: 16px;
     line-height: 25px;
     color: #627382;
     margin: 24px 0px;
 }

 .btn {
     border: 1px solid transparent;
     border-radius: 4px;
     padding: 12px 16px;
     background-color: #21874c;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     transition: 0.3s;
     cursor: pointer;

 }

 .btn:hover {
     background-color: transparent;
     border: 1px solid #076f17;
     color: #000000;
     box-shadow: 0px 0px 10px rgba(115, 159, 117, 0.163);
 }


 /* <!-- ====== footeer section ====== --> */

 footer {
     max-width: 1600px;
     background-color: #001931;
     padding: 120px 120px 20px;
     /* margin-bottom: 40px; */
 }

 footer .foot-container {
     max-width: 1360px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 80px;
 }

 footer .foot-container .social-link h6 {
     color: #fafafa;
     line-height: 28px;
     text-align: center;
     font-size: 13px;
 }

 footer .foot-container .social-link i {
     cursor: pointer;
     margin-left: 8px;
 }


 footer .copyright {
     text-align: center;
     color: #fff;
     font-size: 16px;
     color: #d8d3d3;
     border-top: 1px solid #7c81846e;
     padding-top: 20px;
 }