 /* ====== All styless ========= */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     max-width: 1600px;
     margin: 0 auto;
 }


 .font-inter {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;

 }

 /* ====== header area style=================== */
 header nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 16px 0px;
     max-width: 1600px;
 }

 header nav img {
     width: 139px;
 }

 header nav ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 32px;
     list-style-type: none;

 }

 header nav ul a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     color: #000;
 }

 header nav .btn {
     border: none;
     border-radius: 4px;
     padding: 12px 16px;
     background-color: #21874c;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     transition: 0.3s;
     cursor: pointer;

 }

 header nav .btn:hover {
     /* background-image: linear-gradient(to right, #f4ce63, #FBBC05);
     color: #04204e; */
     background-color: transparent;
     border: 1px solid #076f17;
     color: #000000;
     box-shadow: 0px 0px 10px rgba(115, 159, 117, 0.163);
 }

    


 /* ===========    ==================== */
 #banner {
     max-width: 1600px;
     padding: 154px 341px;
     background-image: url(/images/hero-bg.png);

 }

 #banner .banner-container {
     max-width: 1360px;
     text-align: center;
 }

 #banner .banner-container .small-heading {
     max-width: 215px;
     background-color: #fff;
     border-radius: 100px;
     padding: 8px 12px;
     text-align: center;
     margin: 24px auto;
     font-size: 14px;
     font-weight: 400;
     color: #30B868;
 }


 #banner .banner-container h1 {
     font-size: 72px;
     font-weight: bold;
     margin-bottom: 16px;
     color: #fff;

 }

 #banner .banner-container h1 #green {
     color: #20864b;
 }


 #banner .banner-container p {
     color: #f9efef;
     font-size: 18px;
     line-height: 24px;
     margin-bottom: 32px;
 }


 #banner .banner-container .btn {
     border: none;
     border-radius: 4px;
     padding: 12px 16px;
     background-color: #20864b;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     transition: 0.3s;
     cursor: pointer;
     margin-right: 16px;
 }

 #banner .banner-container .btn:hover {
     background-color: transparent;
     border: 1px solid #fff;
     color: #fff;
     box-shadow: 0px 0px 10px rgba(115, 159, 117, 0.463);
 }

 #banner .banner-container button#glass {
     border-radius: 4px;
     padding: 12px 16px;
     background-color: transparent;
     border: 1px solid #fff;
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     transition: 0.3s;
     cursor: pointer;
     margin-right: 16px;
 }

 #banner .banner-container #glass:hover {
     background-color: #20864b;
     border: none;
     box-shadow: 0px 0px 10px rgba(115, 159, 117, 0.463);
 }